body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(50, 47, 62);
  }
  
  .container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0; /* Remove padding from the container */
  }
  
  p {
    margin: auto;
  }
  
  


.map { margin:1em auto; border-collapse:collapse;table-layout: fixed; }
.map td {
    cursor:pointer;
    width:72px; height:72px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px;
    padding:0; margin:0;
    max-width: 72px;
    max-height: 72px;
}



.grid { margin:1em auto; border-collapse:collapse;table-layout: fixed; }
.grid td {
  position: relative;
    cursor:pointer;
    width:72px; height:72px;
    border:0px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px;
    background-color: rgba(116, 86, 251, 0.5);
    padding:0; margin:0;
    max-width: 72px;
    max-height: 72px;
}

.grid td.clicked {
    background-color:yellow;
}

.grid td.travelled {
    background-color:lightblue;
}

.grid td.current {
    background-color:green;
}

.grid td div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This will center the text box */
  color: #ffffff; /* Adjust to your preferred color */
  font-size: 10px; /* Adjust to your preferred font size */
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Giving the text box a slightly transparent background for readability */
  padding: 5px;
  border-radius: 5px;
}


.grid td img {
  object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.grid td.invisible {
  background-color: rgb(50, 47, 62);
  color: rgb(50, 47, 62);
  border-color: rgb(50, 47, 62);
}

.level_selected {
    background-color: yellow;
}

#box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
}

.rotation_0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotation_1 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotation_2 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotation_3 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-content table {
    margin:auto
  }
  .modal-content h2 {
    margin:auto
  }

  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #tag-table td {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }